<h1><%= @movie.title %></h1>
<h3><%= @movie.creation_year %></h3>
<h3><%= @movie.genre %></h3>
<br>
<h3>Actors:</h3>
<% @actors.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>
<p><%= "Average Actor Age: #{@actors.average_age}" %></p>

<fieldset>
  <legend>Add Actor</legend>
  <%= form_with url: "/actor_movies?movie_id=#{@movie.id}", method: :post, local: true do |f| %>
    <%= f.label :name, "Input Actor Name" %>
    <%= f.text_field :name %>
    <%= f.submit "Submit"%>
  <% end %>
</fieldset>
