<h1><%= @movie.title %></h1>
<h3><%= @movie.creation_year %></h3>
<h3><%= @movie.genre %></h3>
<br>
<h3>Actors:</h3>
<% @actors.each do |actor| %>
  <p><%= actor.name %></p>
  <p><%= "Average Actor Age: #{@actors.average_age}" %></p>
<% end %>
